.dropdown {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 9px 14px;
  gap: 6px;
  border: 1px solid #efefef;
  background-color: #fcfcfd;
  width: 100%;
  cursor: pointer;

  & span {
    font-weight: 400;
    font-size: 14px;
    color: #9aa0b4;
    user-select: none;
  }
}

.dropdown__wrapper {
  position: relative;

  & ul {
    position: absolute;
    top: 120%;
    left: 0;
    width: 100%;
    gap: 8px;
    display: flex;
    flex-direction: column;

    & li {
      border: 1px solid #efefef;
      border-radius: 10px;
      padding: 9px 14px;
      background-color: #fcfcfd;
      width: 100%;
      display: flex;
      align-items: center;
      gap: 6px;
      cursor: pointer;
      max-width: 220px;
      font-weight: 400;
      font-size: 14px;
      color: #9aa0b4;
      text-align: justify;
      user-select: none;
    }
  }
}
