$font-name: "Open Sans";
$font-path: "../fonts/";

$font-weights: (
    300: "Light",
    400: "Regular",
    600: "SemiBold",
    700: "Bold",
);

@each $weight,
$weight-name in $font-weights {
    @font-face {
        font-family: $font-name;
        src: url("#{$font-path}#{$font-name}-#{$weight-name}.ttf");
        font-style: normal;
        font-weight: $weight;
    }
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-VariableFont_opsz,wght.ttf");
    font-style: normal;
}